
#column-2{
    border: 1px solid rgb(214,214,214);
    
   
    
 }
 
 .container-2{
    padding: 10px;
    border:1px solid rgb(214,214,214) ;
    
 }
 
.card-body{
    font-weight: bold;
    font-size: larger;
}

#timer-col-1{
    border: 1px solid rgb(214,214,214);
}
#timer-col-2{
    border:1px solid rgb(214,214,214) ;
}
#marking-col-1{
    border: 1px solid rgb(214,214,214);
}
#marking-col-2{
    border:1px solid rgb(214,214,214);
}

.border-draw{
    border: skyblue solid 20px;
}
.container-sm{
    margin-bottom: 20px;

}
